<!DOCTYPE html>
<html lang="uz">
<head>
    <meta name="csrf-param" content="_csrf">
    <meta name="csrf-token" content="O3GcRtA0AZDDx_lw4VlaNUYyOgTV_1xwO1ItC4Fif-h5F_cNshl5z_KjliO2bA1tI3FfXeaFFxdoBRRfyVo4jw==">

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
<link rel="shortcut icon" href="/favicon.ico">

<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123434306-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-123434306-1');
</script>
<!--End Google Analytics script-->
    <title>Gazeta nashrlari - Xalq so'zi</title>
    <link href="/assets/1cb53ffa/css/bootstrap.css" rel="stylesheet">
<link href="/frontend/css/style.css" rel="stylesheet">
<link href="/frontend/css/media.css" rel="stylesheet">
<link href="/frontend/css/bvi.min.css" rel="stylesheet">
<link href="/css/custom.class.css" rel="stylesheet">	
	<!--adfox-->
<script>window.yaContextCb = window.yaContextCb || []</script>
<script src="https://yandex.ru/ads/system/context.js" async></script>
	
</head>
<body>

<div class="main-wrap container">

    





<!--HEADER-->

<div class="header">
    <div class="header-top">
        <div class="logo">
            <a href="/uz" class="logo-img logo-uz"></a>
        </div>
        <div class="middle-h text-center">
            <div class="d-i">
                <div class="clearfix mb-20">
                    <ul class="lang ul clearfix"><li class=""><a href="/uzkr/site/newspaper">Ўз</a></li><li class="active">
                        <a href="/uz/site/newspaper">O‘z</a></li>
                        <li class=""><a href="/ru/site/newspaper">Ру</a></li><li
                                class=""><a href="/en/site/newspaper">En</a></li><li class=""><
                            a href="/ar/site/newspaper">عر</a></li><li class="
"><a href="/es/site/newspaper">Es</a
                        ></li><li class="">
                            <a href="/cn/site/
                            newspaper">中文</a></li><li class=""><a href="/fr/site/newspaper">Fr</a></li></ul>
                    <form class="search" method="get" action="/uz/search?q=">
                        <input class="search-input form-control" type="search" name="q" placeholder="Qidiruv..."/>
                    </form>
                </div>
            </div>
        </div>
        <div class="last-h text-right">
            <ul class="h-icons clearfix mb-5 ul">
                <li class="eye-icon"><a class="bvi-panel-open" href="#"><span
                            class="glyph-icon flaticon-asset-1"></span></a></li>
                <li>
                    <a href="https://t.me/xs_uz" target="_blank">
                        <span class="glyph-icon flaticon-telegram"></span>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/xalqsuzi.uz/" target="_blank">
                        <span class="glyph-icon flaticon-facebook-logo"></span>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/c/XalqsoziOnline" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-youtube" viewBox="0 0 16 16">
                            <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"/>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/xalqsuzi.uz/" target="_blank">
                        <span class="glyph-icon flaticon-instagram-logo"></span>
                    </a>
                </li>
                <li class="messege-icon">
                    <a href="/uz/contact">
                        <span class="glyph-icon flaticon-close-envelope"></span>
                    </a>
                </li>
            </ul>
            <div class="text-right mt-10">
                <a target="_blank" href="https://play.google.com/store/apps/details?id=uzb.xalq.sozi" class="google-play">
                    <img src="/frontend/img/play_logo.png" alt="">
                </a>
            </div>
        </div>
    </div>
    
<nav class="nav">
    <div class="wrapper resize-drag topnav-wrapper" id="main-menu" data-more-text="Yana">
        <ul class="nav-ul">
            <li class="">
                <a href="/uz/post/category/policy">Siyosat</a>            </li>
            <li class="">
                <a href="/uz/post/category/document">Hujjatlar</a>            </li>
            <li class="">
                <a href="/uz/post/category/economy">Iqtisodiyot</a>            </li>
            <li class="">
                <a href="/uz/post/category/society">Jamiyat</a>            </li>
            <li class="">
                <a href="/uz/post/category/world">Dunyo</a>            </li>
            <li class="">
                <a href="/uz/post/category/sport">Sport</a>            </li>
            <li class="">
                <a href="/uz/post/category/culture">Madaniyat</a>            </li>
            <li class="">
                                <a href="/uz/post/category/lifestyle">Ilm-fan va innovatsiyalar</a>            </li>
            <!--<li class="">
                            </li>-->
            <li class="">
                <a href="/uz/post/category/welcome-to-uzbekistan">Welcome to uzbekistan</a>            </li>
            <!--<li>
                            </li>-->
        </ul>
    </div>
</nav></div>
	
    <div class="row mt-20">
        <div class="col-md-9">

            
<h3 class="title mt-0">Gazeta nashrlari</h3>
<div class="row">
            <div class="col-md-4">
            <div class="newspaper mt-20 ">
                <div class="left-s">
                    <p>
                        "Xalq so'zi"<br> gazetasi<br>  № 23<br> <small> 10.02.2023</small>                    </p>
                    <p>
                        <a href="/uz/site/download?id=2623">Yuklab olish</a>
                    </p>
                </div>
                <div class="o-h">
                    <img src="https://xs.uz/upload/thumb/newspaper/7988896606a4fc09c03b79ffc16896720203.png">
                </div>
            </div>
        </div>
            <div class="col-md-4">
            <div class="newspaper mt-20 ">
                <div class="left-s">
                    <p>
                        "Xalq so'zi"<br> gazetasi<br>  № 22<br> <small> 02.02.2023</small>                    </p>
                    <p>
                        <a href="/uz/site/download?id=2622">Yuklab olish</a>
                    </p>
                </div>
                <div class="o-h">
                    <img src="https://xs.uz/upload/thumb/newspaper/fb14e0553c201d29857e73d59c1c6c420202.png">
                </div>
            </div>
        </div>
            <div class="col-md-4">
            <div class="newspaper mt-20 ">
                <div class="left-s">
                    <p>
                        "Xalq so'zi"<br> gazetasi<br>  № 22<br> <small> 02.02.2023</small>                    </p>
                    <p>
                        <a href="/uz/site/download?id=2621">Yuklab olish</a>
                    </p>
                </div>
                <div class="o-h">
                    <img src="https://xs.uz/upload/thumb/newspaper/6f773c0873e5e6700586aacd7800ebc20202.png">
                </div>
            </div>
        </div>
            <div class="col-md-4">
            <div class="newspaper mt-20 ">
                <div class="left-s">
                    <p>
                        "Xalq so'zi"<br> gazetasi<br>  № 21<br> <small> 01.02.2023</small>                    </p>
                    <p>
                        <a href="/uz/site/download?id=2620">Yuklab olish</a>
                    </p>
                </div>
                <div class="o-h">
                    <img src="https://xs.uz/upload/thumb/newspaper/0f6fe8ff1e3fd136268ea4df38163ff60201.png">
                </div>
            </div>
        </div>
            <div class="col-md-4">
            <div class="newspaper mt-20 ">
                <div class="left-s">
                    <p>
                        "Xalq so'zi"<br> gazetasi<br>  № 21<br> <small> 01.02.2023</small>                    </p>
                    <p>
                        <a href="/uz/site/download?id=2619">Yuklab olish</a>
                    </p>
                </div>
                <div class="o-h">
                    <img src="https://xs.uz/upload/thumb/newspaper/4876505ecca4eeebc0bb09cd253016e80201.png">
                </div>
            </div>
        </div>
            <div class="col-md-4">
            <div class="newspaper mt-20 ">
                <div class="left-s">
                    <p>
                        "Xalq so'zi"<br> gazetasi<br>  № 20<br> <small> 31.01.2023</small>                    </p>
                    <p>
                        <a href="/uz/site/download?id=2618">Yuklab olish</a>
                    </p>
                </div>
                <div class="o-h">
                    <img src="https://xs.uz/upload/thumb/newspaper/f22d829f3ba8c3fe65691f54ae9ce1030131.png">
                </div>
            </div>
        </div>
            <div class="col-md-4">
            <div class="newspaper mt-20 ">
                <div class="left-s">
                    <p>
                        "Xalq so'zi"<br> gazetasi<br>  № 20<br> <small> 31.01.2023</small>                    </p>
                    <p>
                        <a href="/uz/site/download?id=2617">Yuklab olish</a>
                    </p>
                </div>
                <div class="o-h">
                    <img src="https://xs.uz/upload/thumb/newspaper/0f7841857b9d8419f1922e58da15682e0131.png">
                </div>
            </div>
        </div>
            <div class="col-md-4">
            <div class="newspaper mt-20 ">
                <div class="left-s">
                    <p>
                        "Xalq so'zi"<br> gazetasi<br>  № 19<br> <small> 28.01.2023</small>                    </p>
                    <p>
                        <a href="/uz/site/download?id=2616">Yuklab olish</a>
                    </p>
                </div>
                <div class="o-h">
                    <img src="https://xs.uz/upload/thumb/newspaper/23ae82953aacd939f1729a176b2e59530130.png">
                </div>
            </div>
        </div>
            <div class="col-md-4">
            <div class="newspaper mt-20 ">
                <div class="left-s">
                    <p>
                        "Xalq so'zi"<br> gazetasi<br>  № 19<br> <small> 28.01.2023</small>                    </p>
                    <p>
                        <a href="/uz/site/download?id=2615">Yuklab olish</a>
                    </p>
                </div>
                <div class="o-h">
                    <img src="https://xs.uz/upload/thumb/newspaper/ca4bd0e5d7d144c203019d4a51e820c70129.png">
                </div>
            </div>
        </div>
            <div class="col-md-4">
            <div class="newspaper mt-20 ">
                <div class="left-s">
                    <p>
                        "Xalq so'zi"<br> gazetasi<br>  № 18<br> <small> 27.01.2023</small>                    </p>
                    <p>
                        <a href="/uz/site/download?id=2614">Yuklab olish</a>
                    </p>
                </div>
                <div class="o-h">
                    <img src="https://xs.uz/upload/thumb/newspaper/111e4ee65fed5fdea476e749056623430127.png">
                </div>
            </div>
        </div>
            <div class="col-md-4">
            <div class="newspaper mt-20 ">
                <div class="left-s">
                    <p>
                        "Xalq so'zi"<br> gazetasi<br>  № 18<br> <small> 27.01.2023</small>                    </p>
                    <p>
                        <a href="/uz/site/download?id=2613">Yuklab olish</a>
                    </p>
                </div>
                <div class="o-h">
                    <img src="https://xs.uz/upload/thumb/newspaper/3b0a3607683bc3a969aa8a64861f0c1b0127.png">
                </div>
            </div>
        </div>
            <div class="col-md-4">
            <div class="newspaper mt-20 ">
                <div class="left-s">
                    <p>
                        "Xalq so'zi"<br> gazetasi<br>  № 17<br> <small> 26.01.2023</small>                    </p>
                    <p>
                        <a href="/uz/site/download?id=2612">Yuklab olish</a>
                    </p>
                </div>
                <div class="o-h">
                    <img src="https://xs.uz/upload/thumb/newspaper/d00a3dcce3de07dfbf23a33c3382be150126.png">
                </div>
            </div>
        </div>
            <div class="col-md-4">
            <div class="newspaper mt-20 ">
                <div class="left-s">
                    <p>
                        "Xalq so'zi"<br> gazetasi<br>  № 16<br> <small> 25.01.2023</small>                    </p>
                    <p>
                        <a href="/uz/site/download?id=2611">Yuklab olish</a>
                    </p>
                </div>
                <div class="o-h">
                    <img src="https://xs.uz/upload/thumb/newspaper/0195ad71d6f4c6ad3278e3c500a662470126.png">
                </div>
            </div>
        </div>
            <div class="col-md-4">
            <div class="newspaper mt-20 ">
                <div class="left-s">
                    <p>
                        "Xalq so'zi"<br> gazetasi<br>  № 17<br> <small> 26.01.2023</small>                    </p>
                    <p>
                        <a href="/uz/site/download?id=2610">Yuklab olish</a>
                    </p>
                </div>
                <div class="o-h">
                    <img src="https://xs.uz/upload/thumb/newspaper/db4c0bafa33e62b965c2e292db93c3090126.png">
                </div>
            </div>
        </div>
            <div class="col-md-4">
            <div class="newspaper mt-20 ">
                <div class="left-s">
                    <p>
                        "Xalq so'zi"<br> gazetasi<br>  № 16<br> <small> 25.01.2023</small>                    </p>
                    <p>
                        <a href="/uz/site/download?id=2609">Yuklab olish</a>
                    </p>
                </div>
                <div class="o-h">
                    <img src="https://xs.uz/upload/thumb/newspaper/94d3e390e10efa08ad95e968c84c385f0125.png">
                </div>
            </div>
        </div>
            <div class="col-md-4">
            <div class="newspaper mt-20 ">
                <div class="left-s">
                    <p>
                        "Xalq so'zi"<br> gazetasi<br>  № 15<br> <small> 24.01.2023</small>                    </p>
                    <p>
                        <a href="/uz/site/download?id=2608">Yuklab olish</a>
                    </p>
                </div>
                <div class="o-h">
                    <img src="https://xs.uz/upload/thumb/newspaper/617ae80d67f2658b5dc5379ad47041f90124.png">
                </div>
            </div>
        </div>
            <div class="col-md-4">
            <div class="newspaper mt-20 ">
                <div class="left-s">
                    <p>
                        "Xalq so'zi"<br> gazetasi<br>  № 15<br> <small> 24.01.2023</small>                    </p>
                    <p>
                        <a href="/uz/site/download?id=2607">Yuklab olish</a>
                    </p>
                </div>
                <div class="o-h">
                    <img src="https://xs.uz/upload/thumb/newspaper/8647960191f9d6c034aef2df97b8af8a0124.png">
                </div>
            </div>
        </div>
            <div class="col-md-4">
            <div class="newspaper mt-20 ">
                <div class="left-s">
                    <p>
                        "Xalq so'zi"<br> gazetasi<br>  № 14<br> <small> 21.01.2023</small>                    </p>
                    <p>
                        <a href="/uz/site/download?id=2606">Yuklab olish</a>
                    </p>
                </div>
                <div class="o-h">
                    <img src="https://xs.uz/upload/thumb/newspaper/334a6b06dafa324e555511a92b91c1690121.png">
                </div>
            </div>
        </div>
            <div class="col-md-4">
            <div class="newspaper mt-20 ">
                <div class="left-s">
                    <p>
                        "Xalq so'zi"<br> gazetasi<br>  № 14<br> <small> 21.01.2023</small>                    </p>
                    <p>
                        <a href="/uz/site/download?id=2605">Yuklab olish</a>
                    </p>
                </div>
                <div class="o-h">
                    <img src="https://xs.uz/upload/thumb/newspaper/38c2cbea456a7727711fa56280910c170121.png">
                </div>
            </div>
        </div>
            <div class="col-md-4">
            <div class="newspaper mt-20 ">
                <div class="left-s">
                    <p>
                        "Xalq so'zi"<br> gazetasi<br>  № 13<br> <small> 20.01.2023</small>                    </p>
                    <p>
                        <a href="/uz/site/download?id=2604">Yuklab olish</a>
                    </p>
                </div>
                <div class="o-h">
                    <img src="https://xs.uz/upload/thumb/newspaper/fbd4320e1cf13a4d842c304b7a3db17a0120.png">
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <nav class="text-center mb-30" aria-label="Page navigation">
        <div id="w0" class="list-view"><div class="summary">Showing <b>1-20</b> of <b>2,576</b> items.</div>
<ul class="pagination"><li class="prev disabled"><span>&laquo;</span></li>
<li class="active"><a href="/uz/site/newspaper?page=1" data-page="0">1</a></li>
<li><a href="/uz/site/newspaper?page=2" data-page="1">2</a></li>
<li><a href="/uz/site/newspaper?page=3" data-page="2">3</a></li>
<li><a href="/uz/site/newspaper?page=4" data-page="3">4</a></li>
<li><a href="/uz/site/newspaper?page=5" data-page="4">5</a></li>
<li><a href="/uz/site/newspaper?page=6" data-page="5">6</a></li>
<li><a href="/uz/site/newspaper?page=7" data-page="6">7</a></li>
<li><a href="/uz/site/newspaper?page=8" data-page="7">8</a></li>
<li><a href="/uz/site/newspaper?page=9" data-page="8">9</a></li>
<li><a href="/uz/site/newspaper?page=10" data-page="9">10</a></li>
<li class="next"><a href="/uz/site/newspaper?page=2" data-page="1">&raquo;</a></li></ul></div>    </nav>
        </div>
        <div class="col-md-3">

            
<h3 class="title mt-0">Ko‘p o‘qilganlar</h3>
<ul class="popular ul">
            <li><a href="/uz/post/buyuk-britaniya-bosh-vaziri-zharimaga-tortildi">Buyuk Britaniya bosh vaziri jarimaga tortildi</a>
            <div class="meta-d mt-5"><span class="glyph-icon flaticon-eye"></span> 2049</div>
        </li>
            <li><a href="/uz/post/maktablarda-til-va-kasb-orgatishni-rivozhlantirish-choralari-belgilandi">Maktablarda til va kasb oʻrgatishni rivojlantirish choralari belgilandi</a>
            <div class="meta-d mt-5"><span class="glyph-icon flaticon-eye"></span> 1294</div>
        </li>
            <li><a href="/uz/post/vatan-bamisoli-quyoshga-okhshash">“Vatan — bamisoli quyoshga oʻxshash...”</a>
            <div class="meta-d mt-5"><span class="glyph-icon flaticon-eye"></span> 1259</div>
        </li>
            <li><a href="/uz/post/burkina-fasoda-ogirlab-ketilgan-ayollar-ozod-qilindi">Burkina-Fasoda oʻgʻirlab ketilgan ayollar ozod qilindi</a>
            <div class="meta-d mt-5"><span class="glyph-icon flaticon-eye"></span> 1070</div>
        </li>
            <li><a href="/uz/post/transport-vazirlari-khitoj-qirgiziston-ozbekiston-temir-joli-qurilishini-muhokama-etishdi">Transport vazirlari “Xitoy – Qirgʻiziston – Oʻzbekiston” temir yoʻli qurilishini muhokama etishdi</a>
            <div class="meta-d mt-5"><span class="glyph-icon flaticon-eye"></span> 1021</div>
        </li>
            <li><a href="/uz/post/aqsh-boj-berilgan-hududlarni-ukrainaga-qajtarishga-erishish-niyatida-ekanligini-malum-qildi">AQSH boy berilgan hududlarni Ukrainaga qaytarishga erishish niyatida ekanligini maʼlum qildi</a>
            <div class="meta-d mt-5"><span class="glyph-icon flaticon-eye"></span> 954</div>
        </li>
    </ul>



            
    <div class="newspaper h-m clearfix mt-20">
        <a href="/uz/site/newspaper">
        <div class="left-s">
            <h4>Oxirgi <br>  son</h4>
            <p>
                "Xalq so'zi"<br> gazetasi<br>  № 22<br> <small> 02.02.2023</small>            </p>
            <div style="text-decoration: underline;color: #3b3b3b;">Arxiv</div>
        </div>
        <div class="o-h">
            <img src="https://xs.uz/upload/newspaper/2023/02/6f773c0873e5e6700586aacd7800ebc20202.png">
        </div>
    </a>
    </div>

            
            



			
			<!--Расположение: sidebar-1-->
<div id="adfox_16461412711442983"></div>
<script>
    window.yaContextCb.push(()=>{
        Ya.adfoxCode.create({
            ownerId: 399741,
            containerId: 'adfox_16461412711442983',
            params: {
                pp: 'bzxl',
                ps: 'fmla',
                p2: 'hndw'
            }
        })
    })
</script>

            
            
<div class="h-m">
<h3 class="title mt-20">Yangiliklar taqvimi</h3>


<div id="datepicker"></div>
</div>


            



			
			<!--Расположение: sidebar-2-->
<div id="adfox_164614128774154037"></div>
<script>
    window.yaContextCb.push(()=>{
        Ya.adfoxCode.create({
            ownerId: 399741,
            containerId: 'adfox_164614128774154037',
            params: {
                pp: 'bzxm',
                ps: 'fmla',
                p2: 'hndw'
            }
        })
    })
</script>

            
<h3 class="title">
    <a href="/uz/post/category/cluster">Кластер</a></h3>
<div class="row news-flex">
            <div class="col-xs-12 news-item">
            <a href="/uz/post/pakhta-toqimachilik-klasterlarini-tashkil-etish-tartibi-belgilandi">
                <div class="news-item-image" style="background-image: url(https://xs.uz/upload/thumb/medium/5550ba9219fe930c3b42968b7ba7195f1207.jpg)!important;"></div>                <div class="news-item-title">Paxta-toʻqimachilik klasterlarini tashkil etish tartibi belgilandi</div>            </a>
            <span class="date mt-5">
                07 Dekabr 2021                <a class="category" href="/uz/post/category/cluster">Кластер</a>            </span>
        </div>
    </div>

            
            
        </div>
    </div>
</div>


<div class="footer">
    <div class="footer-top">
        <div class="container">
            <ul class="ul">
                <li>
                    <a href="/uz/post/category/policy">Siyosat</a>
                </li>
                <li>
                    <a href="/uz/post/category/document">Hujjatlar</a>
                </li>
                <li>
                    <a href="/uz/post/category/economy">Iqtisodiyot</a>
                </li>
                <li>
                    <a href="/uz/post/category/society">Jamiyat</a>
                </li>
                <li><a href="/uz/post/category/world">Dunyo</a>
                </li>
                <li><a href="/uz/post/category/sport">Sport</a>
                </li>
                <li>
                    <a href="/uz/post/category/culture">Madaniyat</a>
                </li>
                <li>
                    <a href="/uz/post/category/lifestyle">Lifestyle</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-content">
        <div class="container">
            <div class="d-flex">
                <div class="f-logo-wrap">
                    <a href="/uz" class="logo-img logo-uz"></a>
                </div>
                <div class="f-content-wrap">
                    <ul class="ul">
                        <li>
                            <a href="/uz/page/about">Biz haqimizda</a>
                        </li>
                        <li>
                            <a href="/uz/page/adv">Reklama</a>
                        </li>
                        <li>
                            <a href="/uz/page/vocation">Vakansiya</a>
                        </li>
                        <li><a href="/uz/send-news">Maqola yuborish</a></li>
                        <li>
                            <a href="/uz/page/copyright">Ma'lumotlardan foydalanish</a>
                        </li>
                        <li>
                            <a href="/uz/page/statics">Statistika</a>
                        </li>
                        <li><a href="/uz/contact">Bog'lanish</a></li>
                        <li><a href="/uz/rss">RSS</a></li>
                        <li>
                            <a href="http://old.xs.uz">Saytning oldingi versiyasi                            </a>
                        </li>
                    </ul>
                    <p>XS.UZ. Guvohnoma: №1191. Berilgan sanasi: 26.04.2018-yil. Muassis: “Xalq soʻzi” va “Narodnoye slovo” gazetalari tahririyati davlat unitar korxonasi. Bosh muharrir: Rahmatov Oʻtkir Rahmatovich. Tahririyat manzili: 100000, Toshkent shahri, Matbuotchilar koʻchasi 32-uy. Elektron manzil: info@xs.uz</p>
                </div>
                <div class="plus"></div>
            </div>
        </div>
    </div>
</div>



<script src="/assets/e449888f/jquery.js"></script>
<script src="/assets/1e8b0933/yii.js"></script>
<script src="/assets/1cb53ffa/js/bootstrap.js"></script>
<script src="/frontend/js/responsivevoice.min.js?ver=1.5.0"></script>
<script src="/frontend/js/bvi-init-panel.min.js"></script>
<script src="/frontend/js/bvi.min.js"></script>
<script src="/frontend/js/js.cookie.min.js"></script>
<script src="/frontend/js/priority-nav.js"></script>
<script src="/frontend/js/slick.min.js"></script>
<script src="/frontend/js/bootstrap-datepicker.min.js"></script>
<script src="/frontend/js/main.js"></script>



<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        };
        i[r].l = 1 * new Date();
        a = s.createElement(o);
        m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-72480617-1', 'auto');
    ga('send', 'pageview');
</script>
<div style="display: none;visibility: hidden;">
    <!-- START WWW.UZ TOP-RATING -->
    <SCRIPT language="javascript" type="text/javascript">
        <!--
        top_js = "1.0";
        top_r = "id=3032&r=" + escape(document.referrer) + "&pg=" + escape(window.location.href);
        document.cookie = "smart_top=1; path=/";
        top_r += "&c=" + (document.cookie ? "Y" : "N")
        //-->
    </SCRIPT>
    <SCRIPT language="javascript1.1" type="text/javascript">
        <!--
        top_js = "1.1";
        top_r += "&j=" + (navigator.javaEnabled() ? "Y" : "N")
        //-->
    </SCRIPT>
    <SCRIPT language="javascript1.2" type="text/javascript">
        <!--
        top_js = "1.2";
        top_r += "&wh=" + screen.width + 'x' + screen.height + "&px=" +
            (((navigator.appName.substring(0, 3) === "Mic")) ? screen.colorDepth : screen.pixelDepth)
        //-->
    </SCRIPT>
    <SCRIPT language="javascript1.3" type="text/javascript">
        <!--
        top_js = "1.3";
        //-->
    </SCRIPT>
    <SCRIPT language="JavaScript" type="text/javascript">
        <!--
        top_rat = "&col=340F6E&t=ffffff&p=BD6F6F";
        top_r += "&js=" + top_js + "";
        document.write('<img src="https://cnt0.www.uz/counter/collect?' + top_r + top_rat + '" width=0 height=0 border=0 alt="hidden"  />')//-->
    </SCRIPT>
    <NOSCRIPT>
        <img style="display: none;visibility: hidden;"
             height=0
             src="https://cnt0.www.uz/counter/collect?id=3032&pg=http%3A//uzinfocom.uz&col=340F6E&t=ffffff&p=BD6F6F"
             width=0 border=0 alt="hidden"/>
    </NOSCRIPT><!-- FINISH WWW.UZ TOP-RATING -->
</div>

</body>
</html>
